.recent-head-container{
    width: 100vw;
    height: 100vh;
    background-color: #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.recent-head{
    text-align: center;
    position:absolute;
    top: 0px;
    & h1{
        font-size: 60px;
        padding: 10px;
    }

    & h6{
        font-size: 15px;
        font-weight: normal;
    }
}
.recent-container{
    width: 60vw;
    height: 60vh;
    background-color: white;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 10px 20px, rgba(0, 0, 0, 0.42) 0px 6px 6px;
    padding: 40px;
    position: relative;
    top: 40px;
}
.recent-entry{
    display: flex;
    gap: 20px;
    margin:10px 0px;
    width: 55vw;
    height: auto;
    background-color: #e2e2e2;
    border-radius: 10px;
    padding:5px 10px;
    cursor: pointer;
    & h1{
        font-size: 40px;
    }
    & p{
        position: relative;
        top: 6px;
        font-size: 15px;
        font-weight: 300;
    }
    & img{
        width: 40px;
        height: 40px;
    }
}
a{
    text-decoration: none;
    color: #000;
}